@charset "utf-8";


 

/* ------------------- */
.wrap{
    width: 1200px;
    margin: 0 auto;
}

/* 헤더 */
.header{
    height: 100px;
    position: relative;
}
h1{
    float: left;
    width:200px;
    height:100px;
    padding-top: 50px;
    background-color: pink;
    box-sizing: border-box;
}
/* 네비 */
.nav{
    float: left;
    width: 1000px;
    height: 100px;
    padding-top: 60px;
    box-sizing: border-box;
}
.nav ul{
    float: right;
}
.nav ul li{
    float: left;
    width: 150px;
    height: 40px;
    position: relative;
}
.nav .main-nav{
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 18px;
    font-weight: 900;
}
.nav li:hover .main-nav{
    color: #fff;
    background-color: black;
}
.nav .sub-nav{
    display: none;
    position: absolute;
    top: 40px;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 12px;
}
.nav .sub-nav li{
    width: 100%;
    height: 40px;
}
.nav .sub-nav a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}
.nav .sub-nav a:hover{
    background-color: #fff;
    color: #000;
}
.nav-bg{
    display: none;
    position: absolute;
    top:100px;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 150px;
    background-color: black;
    
}

/* 메인 */
.main{
    position: relative;
    height: 300px;
    overflow: hidden;
}
.main ul{
    position:absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 300px;
}
.main li{
    float: left;
    width: 1200px;
    height: 300px;
}
/* 컨텐츠 */
.contents{
    height: 200px;
    width: 100%;
    float: left;
}
.contents h2{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}
/* 공지사항 */
.contents .notice{
    width: 400px;
    height: 200px;
}
.contents .notice ul{
    width: 100%;
    height: 170px;
    border: 1px solid black;
    border-right: 0;
}
.contents .notice ul li{
    width: 100%;
    height: 28px;
    line-height: 28px;
    font-size: 13px;
    position: relative;
}
.contents .notice ul li:hover{
    background-color: black;
    color: #fff;
}
.contents .notice ul li a{
    display: block;
    padding-left: 10px;
}

.contents .notice ul li .day{
    position: absolute;
    right: 10px;
    top: 0;
}

/* 갤러리 */
.contents .gallery{
    width: 400px;
    height: 200px;
}
.contents .gallery ul{
    width: 100%;
    height: 170px;
    border: 1px solid black;
}
.contents .gallery ul li{
    width: 125px;
    height: 140px;
    float: left;
    margin-left: 7px;
    margin-top: 25px;
}
.contents .gallery ul li:hover{
    opacity: 0.7;
}


.contents .gallery img{
    width: 120px;
}
.contents .banner{
    width: 400px;
    height: 200px;

}
.notice, .gallery, .banner{
    float: left;
    width: 400px;
    height: 200px;
}

.banner{
    overflow: hidden;
}

/* 푸터 */
.footer{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #ccc;
}
.footer .copy{
    float: left;
    width: 800px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}
.footer .family{
    float: left;
    width: 200px;
    height: 100px;
    font-size: 14px;
    text-align: center;
    background-color: red;
    
}
.footer .family p{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
}
.footer .family ul{
    width: 100%;
    /* display: none; */
}

.footer .family ul li{
    width: 100%;
    height: 25px;
    line-height: 25px;
}

/* 모달/ */

.modal{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}

.modal .inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    width: 500px;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
}
.modal-tit{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
}
.modal-txt{
    margin-bottom: 2rem;
}






